/*couleurs fonds*/

$mainPurple : #835fa8;
$mainGreen : #3dd2ae;
$mainDarkGrey : #232831;
$mainLightGrey : #2b303b;
$mainHyperLightGrey : #e9eef1;

/* couleurs police */

$mainFontColor : white; 
$secondFontColor : #9da5b0;
$thirdFontColorLight : #83969f;
$thirdFontColorDark : #696f7c;
$thirdFontColorMiddle : #696f7c;

/* Pour les medias queries - versions mobiles et tablettes */

$break-small: 700px;
$break-medium: 990px;
$break-large: 1220px;

